{% extends 'base.html' %}
{% include 'navbar.html' %}
{%block content%}

<div class='container mt-5'>
    <div class='row'>
      <div claas='col-md-12' id="b_image">
                <div class='col-md-4 'style='float:left;'>
                <img src="static/images/8b.png",alt="Dairy" style='width:400;' >
                </div>
                <div class='col-md-8 mx-auto ' style='float:left;'>
                  <h4>ABOUT US 
                </h4>
                  <hr>
                  <p>We are Working Dairy Industry since 2015
                </p>
                  
                  <p>OURDAIRY.COM is one of the dairy-commerce which allowa you to order Dairy Product in convenient manner.</p>
                  <p>We have marchant patanr with Amul , Mother Dairy , Jain Dairy And many more local and National Dairy who have producer Dairy Products and Dairy Items 
                    with Ourdairy.com We offer local Dairy to take place with National Dairy <p>
                    <h4>Our Dream : Digitalization dairy products
                  <p>Digitalization offers new ways to personalize dairy products </p>

                </div>
      </div>
      
    </div>
  </div>
  
  {%endblock content%}

