

<!--================================================ Navbar start ======================================================-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin">Admin page</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cat">category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="subcat">subcategory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_list">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="customerinfo">Customer Details</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="addbrand">Brand </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="addcat">Category</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="Addproduct">Product</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<!--================================================ Navbar End ======================================================-->
